{% extends 'layout.html' %}
{% block cssExtends %}
  <link rel="stylesheet" href="/plugins/Trumbowyg/dist/ui/trumbowyg.min.css">
  <link rel="stylesheet" href="/plugins/multiselect/src/bootstrap-duallistbox.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{ title }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            {#<div class="col-md-1"></div>#}
            <div class="col-md-12">

              <form role="form">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control">
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea name="desc" id="desc" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>Content</label>
                  <textarea name="content" id="content" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                  <select class="form-control" id="categories" multiple="multiple" size="8">
                    {% if categories %}
                      {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </div>
                <button type="submit" class="btn btn-default">Add New Post</button>
                <button type="reset" class="btn btn-primary">Reset</button>
              </form>
            </div>
            {#<div class="col-md-1"></div>#}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block jsExtends %}
  <script src="/plugins/Trumbowyg/dist/trumbowyg.min.js"></script>
  <script src="/plugins/multiselect/src/jquery.bootstrap-duallistbox.js"></script>

  <script>
    $(document).ready(function () {
      $('#categories').bootstrapDualListbox({
        selectedListLabel : 'Selected categories',
        nonSelectedListLabel : 'All categories',
        infoText: false,
        infoTextEmpty: false
      });
      $('#content').trumbowyg();
    })
  </script>
{% endblock %}