<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <img src="/img/find_user.png" class="user-image img-responsive"/>
      </li>
      <li>
        <a href="#"><i class="fa fa-edit fa-1x"></i>Blog<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/blog/new">Add news post</a>
          </li>
          <li>
            <a href="#">List all blog</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- /. NAV SIDE  -->